/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cell {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-bottom: auto; 
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.number {
  width: 100%;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.counter {
  display: block;
  text-align: right;
  font-size: 12px;
  margin-left: auto; 
  margin-bottom: auto; 
}

.firstField {
  width: 70%;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}


/* .header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}


.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.nav-pills {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.nav-item {
  padding-left: 15px; 
}

.nav-item a {
  color: black;
  text-decoration: none;
  padding-left: 15px; 
}

.nav-item a:hover {
  text-decoration: none;
  color: blue;
}


@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


@media screen and (min-width: 768px) {

  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
} 
*/
