/* Space out content a bit */
* {
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cell {
  width: 50px;
  height: 50px;
  position: relative;
  border: 1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6CECE;

  &_black {
    background-color: grey;
  }

  &_purple {
    background-color: #FE2EF7;
  };

  &_yellow {
    background-color: #F4FA58;
  };

  &_blue {
    background-color: #2EFEC8;
  };
  
  &_green {
    background-color: #3ADF00;
  };
}

.field {
  width: 700px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between; 
}

.field .cell_zero {
  height: 182px;
  position: absolute;
  top: 0px;
  left: -70px;
}

.field .cell {
  margin-right: 5px;
}

.wheel {
  width: 1150px;
  height: 160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 50px auto;
}

.last {
  width: 550px;
  margin: 50px auto;
}

.last .cell-line {
  height: 110px;
  align-items: flex-start;
  justify-content: flex-start;
}

.last .cell {
  margin-right: 5px;
}

.last .cell_black {
  margin-top: 60px;
}

.number {
  width: 100%;
  display: block;
  margin: auto auto auto auto;
  font-size: 20px;
  text-align: center; 
}

.counter {
  position: absolute;
  top: 0px;
  right: 0;
  display: block;
  text-align: right;
  font-size: 16px;
  margin-left: auto; 
  margin-bottom: auto; 
}

.cell-line {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: space-between;
}

.cell-column .cell {
  margin-top: 3px; 
}